@use "sass:map";
@use "sass:color";

$themes: (
    default: (
        'background': #F2F4F5,
        'surface': #fff,
        'primary': #333,
        'secondary': #666,
        'theme': #5285EC,
        'theme-secondary': color.change(#5285EC, $alpha: 0.2),
        'icon-ink': #444,
        'ripple': rgba(0, 0, 0, 0.035),
        'toggle-knob-off-color': #fff,
        'toggle-track-off-color': #d1d2d5,
        'toggle-knob-on-color': #1a73e8,
        'toggle-track-on-color': #7fabe6,
    ),
    dark: (
        'background': #202124,
        'surface': #35363A,
        'primary': #fff,
        'secondary': #bbb,
        'theme': #8cb6f6,
        'theme-secondary': color.change(#8cb6f6, $alpha: 0.2),
        'icon-ink': #ccc,
        'ripple': rgba(255, 255, 255, 0.15),
        'toggle-knob-off-color': #fff,
        'toggle-track-off-color': #9aa0a6,
        'toggle-knob-on-color': #8ab4f8,
        'toggle-track-on-color': #b7ccee,
    )
);

@function color($key, $theme: 'default') {
    @return map-get(map-get($themes, $theme), $key);
}

@mixin core-styles() {
    :global(body) {
        margin: 0;
        color: var(--primary);
    }
    @each $theme, $map in $themes {
        :global(body.theme--#{$theme}) {
            $theme-map: () !global;
            @each $key, $submap in $map {
                --#{$key}: #{color(#{$key}, #{$theme})};
            }
        }
    }
}